# General
**/.DS_Store
**/Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Flutter
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/generated_plugin_registrant.dart
.metadata

# IntelliJ/Android Studio
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/
*.code-workspace

# Logs
*.log

# Ignore media folders inside backend
/backend/public/videos/
/backend/public/thumbnails/

# Firebase (if used)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Environment Variables
.env
.env.local
.env.*.local

# Miscellaneous
*.swp
*.swo
*.bak
*.tmp
*.temp
*.orig
*.rej

# MongoDB dumps
dump/
*.archive
